<div class="row">
  <div class="col-md-2">
    <app-sidenav></app-sidenav>
  </div>
  <div class="col-md-10">
    <div class="container">
      <nb-card class="">
        <h6 class="display-4 p-3">{{pageContent}} Drivers</h6>
      </nb-card>
      <div *ngIf="content.confirm">
        <ag-grid-angular style="width: 100%; height: 480px;" class="ag-theme-balham shadow" [rowData]="driversData"
          [columnDefs]="columnDefs" rowSelection="single" (click)="displayAlert(acceptance, $event)"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
      <div *ngIf="content.display">
        <ag-grid-angular style="width: 100%; height: 250px;" class="ag-theme-balham shadow" [rowData]="driversData"
          [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>

<ng-template #acceptance let-data let-ref="dialogRef">
  <nb-card *ngIf="data.UserStatus">
    <nb-card-header>{{data.FirstName}} {{data.SecondName}}</nb-card-header>
    <nb-card-body>
      <p> Are you sure you want to
        <span *ngIf="data.UserStatus =='Accepted'">Block</span>
        <span *ngIf="data.UserStatus =='Blocked'">Unblock</span>
        <span *ngIf="data.UserStatus =='Rejected'">Accept</span>
        <div class="text-center">
          <img src={{data.PicturePath}} class="img-thumbnail rounded" alt="profile" width="200">
        </div>
        <p> Name: {{data.FirstName}} {{data.SecondName}}</p>
        <p> Mobile number: {{ data.Phone }}</p>
        <p *ngIf=data.CarRegNo>Car: {{data.CarRegNo}}</p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="success" (click)="processData(data.id, data.UserStatus); ref.close()" class="mr-2">Yes,
        proceed</button>
      <button nbButton status="danger" (click)="ref.close()" class="float-right">Cancel</button>
    </nb-card-footer>
  </nb-card>
  <nb-card *ngIf="!data.UserStatus" class="py-4 px-3">
    The Driver Profile is not Complete or is missing some fields!
  </nb-card>
</ng-template>